<!-- 

    <section class="hero py-16">
      <div class="container mx-auto flex items-center justify-between">
          <div class="w-1/2 text-center sm:text-left">
              <h6 class="text-lg"><em>Are you hungry?</em></h6>
              <h1 class="text-3xl md:text-6xl font-bold">Don't wait !</h1>
              <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now</button>
          </div>
          <div class="w-1/2">
              <img src="/img/chaiReal.png" alt="">
          </div>
      </div>
  </section>


    <div class="imgGallery">
        <h1 class="heading">Gallery</h1>
        <div class="cont p-3">
  
          <div class="fg-gallery ns">
            <img src="/img/1.jpg" alt="" />
            <img src="/img/2.jpg" alt="" />
            <img src="/img/3.jpg" alt="" />
            <img src="/img/4.jpg" alt="" />
            <img src="/img/5.jpg" alt="" />
            <img src="/img/6.jpg" alt="" />
            <img src="/img/7.jpg" alt="" />
            <img src="/img/8.jpg" alt="" />
          </div>
        </div>
      </div>

      
    <script src="/js/gallery.js"></script> -->

<section class="hero">
  <div class="container-fluid bgp " style="height: 90vh; align-items: center;">

    <div class="mycontain center-text homehero">

      <div class="home-hero-content">
        <h1 class="hero-h1 white-heading title"><span> India's Most<br />affordable deals<br /> on Lab needs</h1></span>
        <p class="p-hero desc">Lorem Ipsum is simply dummy text of he industry's stmmy text ever since the 1500s, when
          an unknown printer and scrambled it to make a type specimen book.</p>

      </div>
      <a href="/login" class="cta-button light-button w-button">Explore More</a>
    </div>
  </div>
</section>



<div class="container-fluid bg " style="height: 85vh; align-items: center;">

  <div class="mycontain center-text homehero">

    <div class="home-hero-content">
      <h1 class="hero-h1 white-heading title"><span>Login<br /> to Place <br /> oders</h1></span>
      <p class="p-hero desc">Multiple Vendor Dealership | Incredible Prices on Equipment | Extensive Consumer Support
      </p>
    </div>
    <a href="/login" class="cta-button light-button w-button">Login / Sign up</a>
  </div>
</div>

<script src="/js/gallery.js"></script>